body {
    background-image: url(tk.jpg
    );
    background-size: cover;
}
::selection{
    background-color: rgb(206, 206, 45);
    color: black;
}
.gall{
    color: darkgoldenrod;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 500%;
    display: flex;
    justify-content: space-around;
}
