body{
    background-image: url(tk.jpg);
    background-size: cover;
}
::selection{
    background-color: rgb(206, 206, 45);
    color: black;
}

h2 {
    color: rgb(156, 184, 0);
    font-size: large;
}
.send{
    display: flex;
    justify-content: space-around;
}